@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html, body {
  margin: 0;
  width: 100vw;
  height: 100vw;
  background: #16161b;
}
.AppBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #171A21;
  width: 100%;
  height: 100%;
}
.OuterBox {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}
#winMatch {
  background: rgb(19, 28, 43);
}
#dd-winMatch {
  border: 2px solid #272d3a;
  background: rgb(19, 28, 43);
}
#dd-loseMatch {
  border: 2px solid #272d3a;
  background: rgb(45, 17, 20);
}
#loseMatch {
  background: rgb(45, 17, 20);
}
.SearchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}
.OuterSearchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  /* border-radius: 0.2em; */
  border: 1px solid rgba(255, 255, 255, 0.861);
  border-top: none;
  background: #171A21;
  gap: 2em;
  padding: 10px;
  margin-top: 6.2em;
}

#SearchBoxInput {
  font-family: Kanit;
  text-align: center;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #C9F0FF;
  background-color: #15161a;
  color:rgba(255, 255, 255, 0.861);
  /* box-shadow: 2px 2px 15px rgb(0, 0, 0, 5); */
}
#SearchBoxInput:focus {
  outline: 0;
}
#SearchBoxInput:hover {
  background-color: #22212174;
}

#summonerUpdateButton {
  background: none;
  border: none;
  margin: 0;
  color:#ffffff;
  font-family: Kanit;
  font-size: 1em;
  font-style: italic;
}
#summonerUpdateButton:hover {
  cursor: pointer;
  color: rgb(220, 49, 49);
}
#summonerUpdateButton:active {
  position:relative;
  top:1px;
}
.SummonerDataBoxGroup {
  justify-content: center;
  display: flex;
  gap: 1em;
  width: 100%;
  height: 100%;
}
.headerinfo {
  display: flex;
  align-items: center;
  gap: 2em;
}

#welcomeLeaderboard {
  gap: 0.2em;
}

#welcomeLeaderboard h3 {
  margin: 10px;
  font-size: 3em;
}
#welcomeLeaderboard p {
  margin: 0;
  font-size: 2em;
  color:rgba(255, 255, 255, 0.80);
  font-family: Kanit;
}

#LeaderboardBoxButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.2em;
  cursor:pointer;
  color:#ffffff;
  font-family: Kanit;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  width: 5em;
}
#LeaderboardBoxButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#LeaderboardBoxButton:active {
  position:relative;
  top:1px;
}

.leaderboardBox {
  display: flex;
  align-items: center;
  background: rgb(206, 217, 183);
  background: linear-gradient(90deg, rgb(162, 191, 83) 0%, rgb(68, 92, 198) 10%, rgb(177, 207, 118) 51%, rgb(100, 131, 203) 100%);
  border-radius: 1.5em;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  font-family: Kanit;
  border: 1px solid rgba(255, 255, 255, 0.80);
  gap: 2em;
}
.LBBoxDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
}
.leaderboardBox p {
  text-align: center;
  font-family: Kanit;
  font-size: 0.8em;
  width: 10em;
  margin: 0;
}
#LBRankNumberTag {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
  width: 1em;
}
#profileIcon {
  height: 5%;
  width: 5%;
  border-radius: 2em;
  border: 3px solid rgb(0, 0, 0)
}
#LBBoxes {
  gap: 5px;
  border-radius: 2em;
  border-width: 4px;
  border-style: double;
  border-color: #1C6EA4;
}
.OuterLBBox {
  width: 100%;
  font-size: 1.3em;
}
.LeaderboardPageBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.Rank1LBBox {
  display: inline-flex;
  flex-direction: row;
  font-size: 1.5em;
  width: 100%;
  background: url('https://cdna.artstation.com/p/assets/images/images/028/767/524/large/horace-hsu-spirit-blossom-kindred-final.jpg?1595445173');
  object-fit: cover;
  background-position: 1375px 2100px;
  /* background: rgb(206, 217, 183); */
  /* background: linear-gradient(90deg, rgb(162, 191, 83) 0%, rgb(68, 92, 198) 10%, rgb(177, 207, 118) 51%, rgb(100, 131, 203) 100%); */
  border-radius: 1.5em;
  border: 2px solid rgb(255, 255, 255);
  font-family: Kanit;
  justify-content: space-around;
}
.Rank1LB1 {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-family: Kanit;
}
.Rank1LB2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Rank1LB3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Rank1LB3 p {
  width: 5em;
  margin: 0;
  text-align: center;
}
.Rank1LB4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Rank1LBIcon {
  width: 128px;
  height: 128px;
  border-radius: 2em;
  border: 3px solid rgb(0, 0, 0)
}
.LBButtons {
  display: flex;
  width: 100%;
}
.LBButtonsBox {
  display: flex;
  width: 100%;
  gap: 0.5em;
}

#welcome {
  text-align: center;
  gap: 0;
  font-size: 3em;
  font-family: Kanit;
  color:rgba(255, 255, 255, 0.861);
}
#inputSummonerName {
  font-size: 1.25em;
  font-weight: -200;
  font-family: Kanit;
}

.MatchesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.MatchBoxes {
  display: flex;
  padding: 10px;
  justify-content: center;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border-radius: 2em;
}
#MatchBoxes {
  border: 2px solid #303b51;
  border-radius: 0.5em;
  width: 100%;
  gap: 0.5em;
  color:rgba(255, 255, 255, 0.80);
  margin-top: 0;
}
#MatchBoxes h4 {
  margin: 0.5em;
}
.Box20 {
  display: flex;
  width: 100%;
  /* align-items: center; */
  /* justify-content: space-around; */
}
.DDBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.DropDownBoxes {
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  /* border-radius: 2em; */
  width: 100%;
}
.Matches {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Kanit;
  border: 2px solid #272d3a;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
  border-radius: 0.2em;
  gap: 1em;
}
.MatchGroup1 {
  display: flex;
  flex-direction: column;
}
.MatchGroup1 p {
  margin: 0;
  width: 6em;
  font-size: 0.8em;
  text-align: center;
}
.MatchGroup2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}
.MatchGroup2div2 p {
  width: 7em;
  text-align: center;
}
.MatchGroup2div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MatchGroup2div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MatchGroup2div2 p {
  margin: 0;
  font-size: 0.8em;
}
.MatchGroup2div3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.MatchGroupButton {
  display: flex;
  margin-top: auto;
}
#DropDownButton {
  display: flex;
  border-radius: 2em;
  border: 3px solid rgba(23, 22, 22, 0.8);
}
#DropDownButton:hover {
  filter: invert(20%);
}
#championIcon {
  width: 40px;
  height: 40px;
  border-radius: 0.3em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
}
#keystoneIcon {
  width: 22px;
  height: 22px;
}
#secondaryRuneIcon {
  width: 20px;
  height: 20px;
}
#summonerSpellIcon1 {
  width: 20px;
  height: 20px;
  border-radius: 0.5em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
}
#summonerSpellIcon2 {
  width: 20px;
  height: 20px;
  border-radius: 0.5em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
}
.MatchGroup4 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}
.MatchGroup4div {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.upperHalfItems {
  display: flex;
  gap: 1px;
}
.lowerHalfItems {
  display: flex;
  gap: 1px;
}
#item0, #item1, #item2, #item3, #item4, #item5, #item6 {
  width: 24px;
  height: 24px;
  border-radius: 0.5em;
  border: 1px solid #000;
}
#item6 {
  width: 20px;
  height: 20px;
}
.MatchGroup5 {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.leftSidePlayers {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}
.rightSidePlayers {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 2px;
}
.playerChampionIcon {
  width: 24px;
  height: 24px;
}
.leftSideGroup, .rightSideGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
  gap: 0.5em;
}

.leftSideGroup p, .rightSideGroup p {
  width: 8em;
  margin: 0;
}

.DropDownBoxMatch {
  display: flex;
  width: 100%;
  gap: 0.5em;
  /* justify-items: center; */
  justify-content: space-around;
  border: 2px solid #272d3a;
  border-top: none;
}
.TeamInfoTextDD {
  display: flex;
  font-size: 0.8em;
  font-family: Kanit;
  width: 100%;
  border-left: 2px solid #272d3a;
  border-right: 2px solid #272d3a;
  justify-content: space-around;
}
.TeamInfoTextDD1 {
  display: flex;
  width: 100%;
}
.goldBarDD {
  display: flex;
  width: 100%;
  align-items: center;
}
#goldBarDDWin {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background: rgb(58, 131, 92);
  border: 1px solid #000;
}
#goldBarDDLose {
  border: 1px solid #000;
  background: rgb(64, 37, 39);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
#invis1 {
  display: flex;
  justify-content: flex-start;
  width: 17.5em;
}
#invis1 p {
  margin-left: 1em;
  font-family: Kanit;
  font-style: italic;
  color:#47aad4;
  text-align: center;
  font-size: 1.2em;
  width: 5em;
  border-left: 2px solid #47aad4;
}
#invis3 p {
  margin-left: 1.3em;
  font-family: Kanit;
  font-style: italic;
  color: #c5472b;
  text-align: center;
  font-size: 1.2em;
  width: 5em;
  border-left: 2px solid #c5472b;
}
#invis2 {
  width: 6.5em;
}
#invis3 {
  width: 17.8em;
  display: flex;
  justify-content: flex-start;
}

#damageDDIcon {
  height: 24px;
  width: 24px;
}
#csDDIcon {
  height: 24px;
  width: 24px;
}
#visionDDIcon {
  height: 24px;
  width: 24px;
}

#csDDIcon2 {
  height: 24px;
  width: 24px;
}
#visionDDIcon2 {
  height: 24px;
  width: 24px;
}
#damageDDIcon2 {
  height: 24px;
  width: 24px;
}
#damageDD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
}
#csDD {
  display: flex;
  align-items: center;
  width: 2em;
}
#visionDD {
  display: flex;
  align-items: center;
  width: 2em;
}
#damageDD2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
}
#csDD2 {
  display: flex;
  align-items: center;
  width: 2em;
}
#visionDD2 {
  display: flex;
  align-items: center;
  width: 2em;
}
.TeamInfoTextDD2 {
  display: flex;
  width: 100%;
}
#damageDD2 p {
}
#csDD2 {
}
#visionDD2 {
}
.Team1DropDownBox {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* border: 1px solid #000; */
}
.Team1Players, .Team2Players {
  display: flex;
  gap: 1px;
}
.Player0Team1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: Kanit;
  border-radius: 0.5em;
  padding: 5px;
  /* box-shadow: 1px 1px 4px rgb(0, 0, 0, 5); */
}
.Player0Team1ChampIcon {
  display: flex;
}
.Player0Team1Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75em;
  justify-content: flex-start;
  overflow: hidden;
}
.Player0Team1Info p {
  margin: 0;
  width: 5em;
}
.Player0Team1Damage, .Player0Team1CS, .Player0Team1VisionScore {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}
.Player0Team1Damage p {
  margin: 0;
  width: 3.5em;
}
.Player0Team1VisionScore p {
  margin: 0;
  width: 2em;
}
.Player0Team1CS p {
  margin: 0;
  width: 2em;
}
.Player0Team1KDA {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}
.Player0Team1KDA p {
  text-align: center;
  margin: 0;
  width: 6em;
  font-size: 0.9em;
}
#summonerSpellIcon1DropDown, #summonerSpellIcon2DropDown {
  width: 20px;
  height: 20px;
  border-radius: 0.5em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
}
#Player0Champion {
  width: 32px;
  height: 32px;
  border-radius: 5%;
  border: 1px solid rgb(18, 18, 18);
}
#Player0Team1Keystone {
  height: 24px;
  width: 24px;
}
#Player0Team1SecondaryTree {
  height: 16px;
  width: 16px;
}
.Player0Team1Runes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Player0Team1SummonerSpells {
  display: flex;
  flex-direction: column;
}
.Player0Team1Items{
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.upperHalfItemsDD {
  display: flex;
  gap: 1px;
}
.lowerHalfItemsDD {
  display: flex;
  gap: 1px;
}
#item0DD, #item1DD, #item2DD, #item3DD, #item4DD, #item5DD {
  width: 24px;
  height: 24px;
  border-radius: 0.5em;
  border: 1px solid #000;
} 
.ObjectivesDD {
  display: flex;
  justify-content: center;
  font-family: Kanit;
  border-left: 2px solid #272d3a;
  border-right: 2px solid #272d3a;
  width: 100%;
  gap: 1em;
  border-bottom: 2px solid #272d3a;
}
.ObjectivesDD p {
  margin: 0;
}
.T1Obj1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.T1Obj2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.T1Obj3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.T1Obj4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.T2Obj1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.T2Obj2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.T2Obj3 {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.T2Obj4 {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Team1ObjectivesDD {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  width: 100%;
  padding: 5px;
}
.Team2ObjectivesDD {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1em;
  width: 100%;
  padding: 5px;
}
#BaronIconDD {
  filter:hue-rotate(80deg);
}
#DragonIconDD {
  filter: hue-rotate(180deg);
}
#GoldIconDD {
  height: 32px;
  width: 32px;
  filter: brightness(50%) sepia(100) saturate(50) hue-rotate(45deg);
  /* border-radius: 2em; */
  /* border: 2px solid rgb(7, 7, 7); */
}
#BaronIconDD, #DragonIconDD, #TurretIconDD {
  height: 32px;
  width: 32px;
  /* border-radius: 2em; */
  /* border: 2px solid rgb(7, 7, 7); */
}
.DDButtonDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#StatDDImage {
  width: 24px;
  height: 24px;
}
#RuneDDImage {
  width: 24px;
  height: 24px;
}

.outerSummonerBox {
  display: flex;
  justify-content: center;
  height: 100%;
}
.outerSummonerDataBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30em;
  height: 100%;
  border-radius: 0.5em;
  background-color: #171A21;
  padding: 10px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border: 2px solid #303b51;
}


.outerSummonerDataBox h3 {
  color:rgba(255, 255, 255, 0.80);
  border-top: 2px solid rgba(255, 255, 255, 0.80);
  margin: 10px;
  font-weight: 500;
  font-family: Kanit;
}
.SummonerDataBoxEntries {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
}
#allEntries {
}
#topEntries {
}
#SDBexpand:hover #topEntries {
  height: 0;
  overflow: hidden;
  /* transform: translateX(50px); */
  /* animation: test 1s ease-in forwards; */
}
@keyframes test {
  0% {
  }
  100% {
    height: 0;
    overflow: hidden;
  }
}
#SDBcontract {
  
}





.champEntryWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #13161dde;
  border: 2px solid #303b51;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
  border-radius: 0.2em;
}
.champEntry {
  display: flex;
  align-items: center;
  justify-content: center;
}
.champEntry p {
  width: 7em;
  margin: 0;
  font-family: Kanit;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.80);
}
.champEntryDiv1 {
  display: flex;
  gap: 0.5em;
}
.champEntryDiv1 p {
  display: flex;
  width: 5em;
}
.champEntryDiv2 {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  text-align: center;
}
.champEntryDiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.champEntryDiv4 {
  display: flex;
  width: 7.5em;
}
.SummonerDataBoxButton {
  display: flex;
  align-self: flex-end;
  border: none;
  background: none;
  color:rgba(255, 255, 255, 0.80);
}
.SummonerDataBoxButton:hover {
  filter: invert(20%);
  cursor: pointer;
}
#champEntryChampIcon {
  border-radius: 0.2em;
  width: 32px;
  height: 32px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 5);
}

.recent20Wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.recent20Wrapper h3 {
  margin: 0.5em;
}
.recent20StatsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 100%;
  border: 2px solid #272d3a;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
  border-radius: 0.2em;
  gap: 2em;
  background-color: #171A21;
}
.recent20TotalStats {
  display: flex;
  flex-direction: column;
}
.recent20TotalStats p {
  font-family: Kanit;
  width: 7em;
  font-size: 0.9em;
  text-align: center;
  margin: 5px;
}
.recent20Champs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1em;
  margin: 5px;
  width: 37%;
  /* border: 2px solid #303b51; */
}
.Recent20ChampCard {
  display: flex;
  justify-content: center;
  border-radius: 0.2em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
  border: 2px solid #303b51;
  align-items: center;
  padding: 5px;
  gap: 0.5em;
}
.kdaAvgsR20 {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  align-items: center;
}
.kdaAvgsR20 #lessthan3kda, .kdaAvgsR20 #between3and5kda, .kdaAvgsR20 #over5kda {
  font-size: 1.2em;
}

.Recent20ChampCardDiv2box1 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}
.Recent20ChampCardDiv2box1 p {
  width: 7em;
  margin: 0;
  font-family: Kanit;
  text-align: center;
}
.Recent20ChampCardDiv2box1 #below60wr, .Recent20ChampCardDiv2box1 #above60wr, .Recent20ChampCardDiv2box1 #exact100wr {
  width: 3em;
}
.gamesPlayedLast20 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gamesPlayedLast20ptag1 {
  font-size: 0.9em;
  width: 5em;
}
#gamesPlayedLast20ptag2 {
  font-size: 0.75em;
  width: 5em;
}

#championIconRecent20 {
  height: 32px;
  width: 32px;
}

#avgDeathsSpanTag {
  color:#C42402;
}

#exact100wr {
  color: #FFC300;
}
#above60wr {
  color: #C42402;
}
#below60wr {
}

#over5kda {
  color: #FFC300;
}
#between3and5kda {
  color: rgb(68, 92, 198);
}
#lessthan3kda {
}
#winTag {
  color: rgb(68, 92, 198);
  /* font-size: 0.75em; */
}
#lossTag {
  color:#C42402;
  /* font-size: 0.75em; */
}
.WinLossBar {
  display: flex;
  width: 100%;
  gap: 2px;
}
.winBar {
  color:rgba(255, 255, 255, 0.80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.55em;
  height: 10px;
  /* border: 1.5px solid #000; */
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  background-color:#47aad4;
  border-right: none;
  font-family: Kanit;
}
.winBar p {
  text-align: center;
  font-size: 0.5em;
}
.lossBar {
  color:rgba(255, 255, 255, 0.80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.55em;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  /* border: 1.5px solid #000; */
  height: 10px;
  border-left: none;
  background-color: #c5472b;
  font-family: Kanit;
}
.lossBar p {
  text-align: center;
  font-size: 0.5em;
}
#RPWinBar {
  font-size: 0.55em;
}
#R20WinBar {
  font-size: 0.70em;
}
.DataBoxHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#rankedsoloheader {
  font-family: Kanit;
  padding: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.80);
  color:rgba(255, 255, 255, 0.80);
}
#rankedsoloheader:hover {
  cursor: pointer;
  filter: invert(20%);
}

.positionStats {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.positionStats h2 {
  font-size: 1.1em;
  margin: 0;
  text-align: center;  
}
.pos-div-wrap {
  display: flex;
  width: 100%;
  gap: 2em;
  height: 6.5em;
}
.pos-div {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.5em;
}

.PositionBar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#topLogo, #jungleLogo, #midLogo, #bottomLogo, #supportLogo {
  height: 24px;
  width: 24px;
}

#non-filled-pos {
  border: 2px solid #272d3a;
}

#filled-pos {
  background-color:#8287c7;
  border: 2px solid #272d3a;
  border-top: none;
}


h3 {
  font-size: 1.75em;
  text-align: center;
  font-family: Kanit;
  color: rgba(255, 255, 255, 0.861);
}
h4 {
  font-size: 1.5em;
  font-family: Kanit;
  color: rgba(255, 255, 255, 0.861);
}
.SearchBoxInputandIcon {
  display: flex;
}
#SearchIcon {
  width: 32px;
  height: 32px;
}
#SearchBoxButton {
  border: none;
  background: none;
  color:rgba(255, 255, 255, 0.80);
}

#SearchIcon:hover {
  filter: invert(20%);
  cursor: pointer;
}
#SearchBoxButton:active {
  position:relative;
  top:1px;
}
.SummonerInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  color: rgba(255, 255, 255, 0.861);
  border-top: 2px solid rgba(255, 255, 255, 0.80);
  border-bottom: 2px solid rgba(255, 255, 255, 0.80);
  justify-content: space-around;
  /* border-radius: 0.5em; */
  font-family: Kanit;
  background-color: #171A21;
}
.SummonerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 2em;
}
.rankBorderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}
.SummonerInfo p {
  margin: 0;
  width: 10em;
  text-align: center;
}
.SummonerRankInfo {
  display: flex;
  gap: 3em;
  margin-right: 1em;
}
.RankedSoloDuo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RankedFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RankedSoloDuo h2, .RankedSoloDuo p, .RankedFlex h2, .RankedFlex p {
  text-align: center;
}
#summonerIcon {
  height: 128px;
  width: 128px;
  border-radius: 1em;
  border: 2px solid #303b51;
}
#rankIcon {
  height: 64px;
  width: 64px;
}
#unrankedIcon {
  height: 48px;
  width: 48px;
}

#HomeLogo {
  height: 32px;
  width: 32px;
}
#HomeLogo:hover, #tftLogo:hover, #valorantLogo:hover, #LeaderboardLogo:hover, #RiotLogo:hover {
  filter: invert(20%);
}

#tftLogo {
  height: 46px;
  width: 76px;
}

#valorantLogo {
  width: 64px;
  height: 64px;
}

#LeaderboardLogo {
  height: 32px;
  width: 32px;
}

#RiotLogo {
  height: 32px;
  width: 32px;
}

#valorant:link, #valorant:visited, #champions:link, #champions:visited, #leaderboards:link, #leaderboards:visited, #home:link, #home:visited, #tft:link, #tft:visited {
  display: flex;
  color: white;
}
#githubLogo {
  height: 32px;
  width: 32px;
}
#GithubLogoLink {
  display: inline-block;
}
#githubLogo:hover {
  filter: invert(20%);
}
#discordLogo {
  height: 32px;
  width: 32px;
}
#DiscordLogoLink {
  display: inline-block;
}
#discordLogo:hover {
  filter: invert(20%);
}

#youtubeLogo {
  height: 32px;
  width: 32px;
}
#YoutubeLogoLink {
  display: inline-block;
}
#youtubeLogo:hover {
  filter: invert(20%);
}

#twitterLogo {
  height: 32px;
  width: 32px;
}
#TwitterLogoLink { 
  display: inline-block;
}
#twitterLogo:hover {
  filter: invert(20%);
}

#LinkedInLogo {
  height: 32px;
  width: 32px;
}
#LinkedInLogoLink {
  display: inline-block;
}
#LinkedInLogo:hover {
  filter: invert(20%);
}

.EndpointBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99.7%;
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.861);
  border-top: none;
  background: #171A21;
  z-index: 999;
  /* height: 5em; */
} 
.EndpointLogos {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  align-items: center;
  margin-top: 10px;
  width: 25%;
  margin-left: 10px;
}
.Endpoints {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}
.EndpointHeader {
  justify-content: center;
  margin-right: 2em;
}

#ValorantBoxButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.5em;
  cursor:pointer;
  color:#ffffff;
  font-family: Kanit;
  letter-spacing: 0.05em;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  width: 6em;
}
#ValorantBoxButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#ValorantBoxButton:active {
  position:relative;
  top:1px;
}

#ValBoxInput {
  width: 20%;
  height: 25%;
  font-family: Kanit;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 0.5em;
  border-width: 4px;
  border-style: double;
  border-color: #1C6EA4;
  background-color: #181A1B;
  color:rgba(255, 255, 255, 0.861);
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
}
#ValBoxInput:focus {
  outline: 0;
}
#ValBoxInput:hover {
  background-color: #22212174;
}

.ValorantSearchBox {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.ValorantPageBox {
  display: flex;
  width: 100%;
  justify-content: center;
}
.ValorantPageBox h3 {
  margin: 10px;
  font-size: 3em;
}

#SearchBoxInputTFT {
  font-family: Kanit;
  text-align: center;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #C9F0FF;
  background-color: #15161a;
  color:rgba(255, 255, 255, 0.861);
  /* box-shadow: 2px 2px 15px rgb(0, 0, 0, 5); */
}
#SearchBoxInputTFT:focus {
  outline: 0;
}
#SearchBoxInputTFT:hover {
  background-color: #22212174;
}

#TFTSummonerInfoBox {
  gap: 2em;
}
.TFTRankedSolo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TFTDoubleUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TFTDropDownBoxes {
  width: 100%;
}
.TFTDDBoxWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.80);
  border-top: none;
}
.TFTDDPlayerBox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.80);
}
.TFTDDB1 {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  font-family: Kanit;
  width: 12%;
}
.TFTDDB2 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: Kanit;
  width: 23em;
  justify-content: flex-start;
}
.AugListB2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#DDAug1, #DDAug2, #DDAug3 {
  height: 32px;
  width: 32px;
  border-radius: 0.5px;
  border: 0.5px solid rgba(255, 255, 255, 0.403);
}
.LLIconDD {
  color: rgba(255, 255, 255, 0.80);

}
#LittleLegendIconDD {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 2em;
  border: 2px solid rgba(133, 133, 133, 0.403);
}
#DDTrait-0, #DDTrait-1, #DDTrait-2, #DDTrait-3, #DDTrait-4 {
  height: 24px;
  width: 24px;
}
.TFTDDB3 {
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DDTFTunit {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.403);
}
.UnitsList1 {

}
.UnitsList2 {
  
}
.TFTDDB4 {
  width: 6.5em;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  justify-content: center;
  font-family: Kanit;
  align-items: center;
}
.TFTGoldIconDiv {
  display: flex;
  align-items: center;
}
.TFTStageIconDiv {
  display: flex;
  align-items: center;
}
#TFTGoldIconDDB4 {
  height: 32px;
  width: 32px;
  filter: brightness(55%) sepia(100) saturate(55) hue-rotate(46deg);
}
#TFTStageIconDDB4 {
  height: 32px;
  width: 32px;
}


.TFTWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.TFTTopHalfBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.TFTMatchBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 10px;
  width: 90%;
  margin: 15px auto;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border: 2px solid #303b51;
  border-radius: 0.2em;
  background: #171A21;
}
.TFTMatches {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1px;
  align-items: center;
  color:rgba(255, 255, 255, 0.861);
  font-family: Kanit;
  border: 1px solid rgba(255, 255, 255, 0.80);
  gap: 5em;
}

.TFTMatchGroup1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.TFTMatchGroup1 p {
  width: 3em;
  margin: 2px;
  text-align: center;
}
.TFTMatchGroup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
}
#LittleLegendIcon {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 2em;
  border: 2px solid rgba(133, 133, 133, 0.403);
}
.TFTMatchGroup3 {
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.TFTAugGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}
.TFTTraitGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.TFTTraitGroup1 {
  display: flex;
  gap: 5px;
}
.TFTTraitGroup2 {
  display: flex;
  gap: 5px;
}
#TFTAug1, #TFTAug2, #TFTAug3 {
  width: 32px;
  height: 32px;
  border-radius: 0.5px;
  border: 0.5px solid rgba(255, 255, 255, 0.403);
}
.TFTMatchGroup4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.TFTUnitGroup1 {
  display: flex;
  gap: 5px;
}
.TFTUnitGroup2 {
  display: flex;
  gap: 5px;
}

.TFTtrait {
  width: 32px;
  height: 32px;
  padding: 1px;

}

.TFTunit {
  height: 64px;
  width: 64px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.403);
}
#Unit-0 {
  border-color:rgb(111, 110, 110);
}
#Unit-1 {
  border-color: rgb(39, 125, 39);
}
#Unit-2 {
  border-color:rgb(68, 92, 198);
}
#Unit-3 {
  border-color: purple;
}
#Unit-4 {
  border-color: orangered;
}
#Unit-5 {
  border-color: gold;
}
#Unit-6 {
  border-color: red;
}
#Unit-8 {
  border-color: rgb(8, 213, 145);
}
.TFTRecentMatchesContainer {
  display: flex;
  border: 2px solid #272d3a;
  width: 99%;
  height: 15em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
  border-radius: 0.2em;
  background-color: #171A21;
}
.PlacementsBar {
  display: flex;
  flex-direction: column;
  width: 29%;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  padding: 5px;
}
#tftr10header {
  display: flex;
  align-items: center;
  border-left: 2px solid rgba(255, 255, 255, 0.80);
  gap: 6em;
  height: 10%;
}
.RecentTraits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.RecentTraitsBox1 {
  display: flex;
}
.RecentTraitsBox {
  font-family: Kanit;
  color: rgba(255, 255, 255, 0.80);
}
.RecentTraitsBox p {
  margin: 0;
}
#tftr10traitheader {
  display: flex;
  border-left: 2px solid rgba(255, 255, 255, 0.80);
  height: 10%;
}
#tftr10traitheader p {
  margin: 0;
  margin-left: 0.5em;
  color: rgba(255, 255, 255, 0.80);
  font-family: Kanit;
}
#tftR10WinBar {
  
}
#tftr10header p {
  margin: 0;
  margin-left: 0.5em;
  color: rgba(255, 255, 255, 0.80);
  font-family: Kanit;
}
.PlacementInfo {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2em;
  border-left: 2px solid rgba(255, 255, 255, 0.80);
}
.PlacementInfoDiv1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin-left: 0.5em;
}
.PlacementInfoDiv1 p {
  font-family: Kanit;
  color: rgba(255, 255, 255, 0.80);
}
#tftr10header #avgPlacementTag1 {
  color: rgb(193, 171, 44);
}
#tftr10header #avgPlacementTag2 {
  color: #b4b4b4;
}
#tftr10header #avgPlacementTag3 {
  color: #7B3F00;
}
#tftr10header #avgPlacementTag4 {
  color: #1C6EA4;
}
#tftr10header #avgPlacementTag5 {
  color: rgba(184, 184, 184, 0.8);
}
#avgPlacementTag1, #avgPlacementTag2, #avgPlacementTag3, #avgPlacementTag4, #avgPlacementTag5 {
  font-size: 2em;
}
#avgPlacementTag5 span {
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.80);
}
.PlacementInfoDiv1 p {
  margin: 0;
}

.PlacementInfoDiv2 {
  display: flex;
  width: 10em;
}
.placementArr1 {
  display: flex;
  gap: 1em;
}
.placementArr2 {
  display: flex;
  gap: 1em;
}
.placementBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  border: 2px solid #303b51;
  border-radius: 0.2em;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 5);
  background-color: #16181c;
}
.placementBox p {
  font-size: 2em;
  font-family: Kanit;
  margin: 0;
}
#placement-1 {
  color: rgb(193, 171, 44);
}

#placement-2 {
  color: #b4b4b4;
}

#placement-3 {
  color: #7B3F00;
}

#placement-4 {
  color: #1C6EA4;
}

#placement-5, #placement-6, #placement-7, #placement-8 {
  color: #525252;
}

#tftplacement-1 {
  border-color: rgb(247, 229, 125);
}

#tftplacement-2, #tftplacement-3, #tftplacement-4 {
  border-color: #1C6EA4;
} 

#tftplacement-5, #tftplacement-6, #tftplacement-7 {
  border-color: #c8114e;

}

#tftplacement-8 {
  border-color: #564e50;
}

#placementnumber-1 {
  color: rgb(247, 229, 125);
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-2, #placementnumber-3, #placementnumber-4 {
  color: #1C6EA4;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-5, #placementnumber-6, #placementnumber-7 {
  color: #c8114e;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-8 {
  color:rgb(111, 110, 110);
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.donthavedatabox {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #222020;
  border-radius: 1em;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.80);
  width: 50em;
}
#kittisaurDuck {
  width: 50%;
  border-radius: 5em;
  border: 3px solid rgba(255, 255, 255, 0.80);
}