.SearchBox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#welcome {
  font-size: 3em;
  font-family: "Koulen", sans-serif;
}

#SearchBoxInput {
  width: 13em;
}

#inputSummonerName {
  font-size: 2em;
  font-family: "Koulen", sans-serif;
}