@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

html, body {
  margin: 0;
  height: 100%;
}
.AppBox {
  justify-content: center;
  background: #181A1B;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  position: absolute;
  overflow: scroll;
}
.OuterBox {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}
#winMatch {
  background: rgb(22,81,191);
  background: linear-gradient(90deg, rgba(22,81,191,1) 0%, rgba(41,61,150,1) 10%, rgba(56,72,108,1) 51%, rgba(56,95,186,1) 100%);
  /* border: 1px solid rgba(255, 255, 255, 0.861); */
  /* border-radius: 1.5em; */
}
#loseMatch {
  background: rgb(173,44,72);
  background: linear-gradient(90deg, rgba(173,44,72,1) 0%, rgba(150,41,64,1) 10%, rgba(108,56,67,1) 51%, rgba(186,56,86,1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.80);
  /* border-radius: 1.5em; */
}
.SearchBox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  color: white;
}
.OuterSearchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 90%;
  margin: 15px auto;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color:rgba(255, 255, 255, 0.861);
  background: #181A1B;
}

#SearchBoxInput {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.5em;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #1C6EA4;
  background-color: #181A1B;
  color:rgba(255, 255, 255, 0.861);
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
}
#SearchBoxInput:focus {
  outline: 0;
}
#SearchBoxInput:hover {
  background-color: #22212174;
}

#summonerUpdateButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.5em;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.05em;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
}
#summonerUpdateButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#summonerUpdateButton:active {
  position:relative;
  top:1px;
}
.SummonerDataBoxGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeLeaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
  color:rgba(255, 255, 255, 0.861);
}

#LeaderboardBoxButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.5em;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Prompt', sans-serif;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  width: 50%;
}
#LeaderboardBoxButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#LeaderboardBoxButton:active {
  position:relative;
  top:1px;
}

#leaderboardBox {
  background: rgb(206, 217, 183);
  background: linear-gradient(90deg, rgb(162, 191, 83) 0%, rgb(68, 92, 198) 10%, rgb(177, 207, 118) 51%, rgb(100, 131, 203) 100%);
  border-radius: 1.5em;
  border: 2px solid rgb(255, 255, 255);
}
#profileIcon {
  height: 5%;
  width: 5%;
  border-radius: 2em;
  border: 3px solid rgb(0, 0, 0)
}
#LBBoxes {
  gap: 5px;
  border-radius: 2em;
  border-width: 4px;
  border-style: double;
  border-color: #1C6EA4;
}
.OuterLBBox {
  width: 100%;
  font-size: 1.3em;
}
.LeaderboardPageBox {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Rank1LBBox {
  display: inline-flex;
  flex-direction: row;
  font-size: 1.5em;
  width: 100%;
  background: url('https://cdna.artstation.com/p/assets/images/images/028/767/524/large/horace-hsu-spirit-blossom-kindred-final.jpg?1595445173');
  object-fit: cover;
  background-position: 1375px 2100px;
  /* background: rgb(206, 217, 183); */
  /* background: linear-gradient(90deg, rgb(162, 191, 83) 0%, rgb(68, 92, 198) 10%, rgb(177, 207, 118) 51%, rgb(100, 131, 203) 100%); */
  border-radius: 1.5em;
  border: 2px solid rgb(255, 255, 255);
  font-family: Koulen;
  justify-content: space-around;
}
.Rank1LB1 {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-family: Koulen;
}
.Rank1LB2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Rank1LB3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Rank1LB4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Rank1LBIcon {
  width: 128px;
  height: 128px;
  border-radius: 2em;
  border: 3px solid rgb(0, 0, 0)
}
.LBButtons {
  width: 3em;
}
.LBButtonsBox {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.LBButtonsBox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.LBButtonsBox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
}

#welcome {
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
  color:rgba(255, 255, 255, 0.861);
}
#inputSummonerName {
  font-size: 2em;
  font-family: 'Prompt', sans-serif;
}

.MatchesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.MatchBoxes {
  display: flex;
  padding: 10px;
  justify-content: center;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border-radius: 2em;
}
#MatchBoxes {
  border-color: #a41c49;
  color: rgba(255, 255, 255, 0.861);
  gap: 5px;
}
.Box20 {
  display: flex;
  width: 100%;
  /* align-items: center; */
  /* justify-content: space-around; */
}
.DDBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.DropDownBoxes {
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  /* border-radius: 2em; */
  width: 100%;
}
.Matches {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Koulen', cursive;
  border: 1px solid rgba(255, 255, 255, 0.80);
  gap: 2em;
}
.MatchGroup1 {
  display: flex;
  flex-direction: column;
  line-height: 80%;
  min-width: 10%;
  max-width: 10%;
}
.MatchGroup2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.MatchGroup2div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  gap: 5px;
}
.MatchGroup2div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25%;
}
.MatchGroup2div3 {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 30px;
}
.MatchGroupButton {
  display: flex;
  margin-top: auto;
}
#DropDownButton {
  display: flex;
  border-radius: 2em;
  border: 3px solid rgba(23, 22, 22, 0.8);
}
#DropDownButton:hover {
  filter: invert(20%);
}
#championIcon {
  width: 35%;
  /* overflow: hidden; */
  border-radius: 0.5em;
  border:1px solid rgb(90, 89, 89);
  /* -webkit-box-shadow: inset 10px 10px 10px #000; */
  /* -moz-box-shadow: inset 10px 10px 10px #000; */
  /* box-shadow: inset 10px 10px 10px #000; */
}
#keystoneIcon {
  width: 100%;
}
#secondaryRuneIcon {
  width: 70%;
}
#summonerSpellIcon1 {
  border-radius: 0.5em;
  border: 1px solid rgb(111, 110, 110)
}
#summonerSpellIcon2 {
  border-radius: 0.5em;
  border: 1px solid rgb(111, 110, 110)
}
.MatchGroup4 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}
.MatchGroup4div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.upperHalfItems {
  display: flex;
  gap: 2px;
}
.lowerHalfItems {
  display: flex;
  gap: 2px;
}
#item0, #item1, #item2, #item3, #item4, #item5, #item6 {
  width: 48px;
  height: 48px;
  border-radius: 0.5em;
  border: 2px solid #000;
}
#item6 {
  width: 32px;
  height: 32px;
}
.MatchGroup5 {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  flex: 1;
}
.leftSidePlayers {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.rightSidePlayers {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#player0Champion, #player1Champion, #player2Champion, #player3Champion, #player4Champion, #player5Champion, #player6Champion, #player7Champion, #player8Champion, #player9Champion {
  width: 32px;
  height: 32px;
}
.leftSideGroup0, .leftSideGroup1, .leftSideGroup2, .leftSideGroup3, .leftSideGroup4, .rightSideGroup0, .rightSideGroup1, .rightSideGroup2, .rightSideGroup3, .rightSideGroup4 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 0.8em;
}

.DropDownBoxMatch {
  display: flex;
  width: 100%;
  gap: 3em;
  /* justify-items: center; */
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.80);
  border-top: none;
}
.TeamInfoTextDD {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.8em;
  font-family: Prompt;
  border: 1px solid rgba(255, 255, 255, 0.80);
  border-top: none;
  width: 100%;
}
.TeamInfoTextDD1 {
  display: flex;
  margin-left: 36.5%;
}
#damageDD {
  position: relative;
  margin-left: 9%;
}
#csDD {
  position: relative;
  margin-left: 0.01%;
}
#visionDD {
  position: relative;
  margin-left: 2%;
}
.TeamInfoTextDD2 {
  display: flex;
  margin-left: 42.5%;
}
#kdaDD2 {
  position: relative;
  margin-left: 0.1%;
}
#damageDD2 {
  position: relative;
  margin-left: 5%;
}
#csDD2 {
  position: relative;
  margin-left: 1%;
}
#visionDD2 {
  position: relative;
  margin-left: 2%;
}
.Team1DropDownBox {
  margin-left: 1em;
  margin-top: 0.3em;
  display: flex;
  flex-direction: column;
}
.Team1Players, .Team2Players {
  display: flex;
  gap: 1px;
}
.Player0Team1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Player0Team1ChampIcon {
  display: flex;
}
.Player0Team1Info {
  display: flex;
  flex-direction: row;
  min-width: 16%;
  max-width: 16%;
  overflow: hidden;
  align-items: center;
  font-size: 0.75em;
  justify-content: flex-start;
}
.Player0Team1Info p {
  margin: 0;
}
.Player0Team1Damage, .Player0Team1CS, .Player0Team1VisionScore {
  min-width: 10%;
  max-width: 30%;
  display: flex;
  font-size: 0.75em;
  justify-content: center;
  overflow: hidden;
}
.Player0Team1KDA {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  min-width: 25%;
  max-width: 25%;
}
#summonerSpellIcon1DropDown, #summonerSpellIcon2DropDown {
  width: 24px;
  height: 24px;
  border-radius: 0.5em;
  border: 1px solid rgb(111, 110, 110)
}
#Player0Champion {
  width: 32px;
  height: 32px;
  border-radius: 5%;
  border: 1px solid rgb(18, 18, 18);
}
#Player0Team1Keystone {
  height: 24px;
  width: 24px;
}
#Player0Team1SecondaryTree {
  height: 20x;
  width: 20px;
}
.Player0Team1Runes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Player0Team1SummonerSpells {
  display: flex;
  flex-direction: column;
}
.Player0Team1Items{
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.upperHalfItemsDD {
  display: flex;
  gap: 1px;
}
.lowerHalfItemsDD {
  display: flex;
  gap: 1px;
}
#item0DD, #item1DD, #item2DD, #item3DD, #item4DD, #item5DD {
  width: 24px;
  height: 24px;
  border-radius: 0.5em;
  border: 1px solid #000;
} 
.ObjectivesDD {
  min-width: 2%;
  max-width: 2%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: Koulen;
}
.MiddleIconsDD {
  display: flex;
  flex-direction: column;
  gap: 2.8em;
}
.Team1ObjectivesDD {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.Team2ObjectivesDD {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
#BaronIconDD {
  filter:hue-rotate(80deg)
}
#DragonIconDD {
  filter: hue-rotate(180deg)
}
#GoldIconDD {
  height: 32px;
  width: 32px;
  filter: brightness(50%) sepia(100) saturate(50) hue-rotate(45deg);
  /* border-radius: 2em; */
  /* border: 2px solid rgb(7, 7, 7); */
}
#BaronIconDD, #DragonIconDD, #TurretIconDD {
  height: 32px;
  width: 32px;
  /* border-radius: 2em; */
  /* border: 2px solid rgb(7, 7, 7); */
}
.DDButtonDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#RuneDDButton {
  padding: 7.5%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1em;
  background-color: #7a2a1d;
}
#StatDDButton {
  padding: 7.5%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1em;
  background-color: #7a2a1d;
}
#RuneDDButton:hover, #StatDDButton:hover {
  filter: invert(10%);
}
#StatDDImage {
  width: 24px;
  height: 24px;
}
#RuneDDImage {
  width: 24px;
  height: 24px;
}

.Recent20ChampCard {
  display: flex;
  align-items: center;
}

.Recent20champCardDiv2box1 {
  display: flex;
}

#championIconRecent20 {
  height: 32px;
  width: 32px;
}

h3 {
  font-size: 1.75em;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  color: rgba(255, 255, 255, 0.861);
}
h4 {
  font-size: 1.5em;
  font-family: 'Prompt', sans-serif;
  color: rgba(255, 255, 255, 0.861);
}
.SummonerInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0px;
  color: rgba(255, 255, 255, 0.861);
  padding: 10px;
  width: 85%;
  margin: 15px auto;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border-width: 2px;
  border-style: solid;
  border-color: #a41c49;
  border-radius: 0.5em;
  font-family: 'Prompt', sans-serif;
}
#SearchBoxButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.5em;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.05em;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
}
#SearchBoxButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#SearchBoxButton:active {
  position:relative;
  top:1px;
}
#SummonerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}
#summonerRankInfo {
  display: flex;
  width: 70%;
  flex-direction: column;
  flex-shrink: 2;
  align-items: center;
}
#summonerIcon {
  display: flex;
  flex-grow: 2;
  width: 50%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 55);
}
#rankIcon {
  display: flex;
  width: 55%;
}
p {
  margin: 0.5em;
}

#HomeLogo {
  height: 32px;
  width: 32px;
}
#HomeLogo:hover, #tftLogo:hover, #valorantLogo:hover, #LeaderboardLogo:hover, #RiotLogo:hover {
  filter: invert(20%);
}

#tftLogo {
  height: 46px;
  width: 76px;
}

#valorantLogo {
  width: 64px;
  height: 64px;
}

#LeaderboardLogo {
  height: 32px;
  width: 32px;
}

#RiotLogo {
  height: 32px;
  width: 32px;
}

#valorant:link, #valorant:visited, #champions:link, #champions:visited, #leaderboards:link, #leaderboards:visited, #home:link, #home:visited, #tft:link, #tft:visited {
  display: flex;
  color: white;
}
/*
#valorant:hover, #champions:hover, #leaderboards:hover, #home:hover, #tft:hover {
  background:linear-gradient(to bottom, #353131 5%, #2c2a2b 100%);
  background-color:#564e50;
  position:relative;
  border: 0.10em double #a41c49;
}
#valorant:active, #champions:active, #leaderboards:active, #home:active, #tft:active {
  top: 1px;
} */

#discordLogo {
  width: 100%;
}
#DiscordLogoLink {
  display: inline-block;
  width: 8%;
  height: 75%;
}
#discordLogo:hover {
  filter: invert(20%);
}

#youtubeLogo {
  width: 100%;
}
#YoutubeLogoLink {
  display: inline-block;
  width: 9%;
  height: 80%;
  margin-left: 5px;
}
#youtubeLogo:hover {
  filter: invert(20%);
}

#twitterLogo {
  width: 100%;
}
#TwitterLogoLink { 
  display: inline-block;
  width: 10%;
  height: 90%; 
}
#twitterLogo:hover {
  filter: invert(20%);
}

#linkedinLogo {
  width: 100%;
}
#LinkedInLogoLink {
  display: inline-block;
  width: 9%;
  height: 80%; 
}
#linkedinLogo:hover {
  filter: invert(20%);
}

.EndpointBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 
.EndpointLogos {
  width: 45%;
  display: inline-flex;
  gap: 5px;
  margin-top: 10px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  justify-content: flex-start;
}
.Endpoints {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin-top: 10px;
}


#welcomeValorant {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
  color:rgba(255, 255, 255, 0.861);
}

#ValorantBoxButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.5em;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.05em;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  width: 10%;
}
#ValorantBoxButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#ValorantBoxButton:active {
  position:relative;
  top:1px;
}

#ValBoxInput {
  width: 20%;
  height: 25%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 0.5em;
  border-width: 4px;
  border-style: double;
  border-color: #1C6EA4;
  background-color: #181A1B;
  color:rgba(255, 255, 255, 0.861);
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
}
#ValBoxInput:focus {
  outline: 0;
}
#ValBoxInput:hover {
  background-color: #22212174;
}

.ValorantSearchBox {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#welcomeTFT {
  font-size: 2em;
  font-family: 'Prompt', sans-serif;
  color:rgba(255, 255, 255, 0.861);
}

#SearchBoxInputTFT {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.5em;
  font-size: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #1C6EA4;
  background-color: #181A1B;
  color:rgba(255, 255, 255, 0.861);
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  width: 20%;
}
#SearchBoxInputTFT:focus {
  outline: 0;
}
#SearchBoxInputTFT:hover {
  background-color: #22212174;
}

.TFTDropDownBoxes {
  width: 100%;
}
.TFTDDBoxWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.80);
  border-top: none;
}
.TFTDDPlayerBox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.80);
}
.TFTDDB1 {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  font-family: Koulen;
  width: 12%;
}
.TFTDDB2 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: Koulen;
  width: 30%;
  justify-content: flex-start;
}
.AugListB2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#DDAug1, #DDAug2, #DDAug3 {
  height: 32px;
  width: 32px;
  border-radius: 0.5px;
  border: 0.5px solid rgba(255, 255, 255, 0.403);
}
.LLIconDD {
  color: rgba(255, 255, 255, 0.80);

}
#LittleLegendIconDD {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 2em;
  border: 2px solid rgba(133, 133, 133, 0.403);
}
#DDTrait-0, #DDTrait-1, #DDTrait-2, #DDTrait-3, #DDTrait-4 {
  height: 24px;
  width: 24px;
}
.TFTDDB3 {
  display: flex;
  align-items: center;
}
.DDTFTunit {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.403);
}
.UnitsList1 {

}
.UnitsList2 {
  
}
.TFTDDB4 {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  justify-content: center;
  font-family: Koulen;
  align-items: center;
}
.TFTGoldIconDiv {
  display: flex;
  align-items: center;
}
.TFTStageIconDiv {
  display: flex;
  align-items: center;
}
#TFTGoldIconDDB4 {
  height: 32px;
  width: 32px;
  filter: brightness(55%) sepia(100) saturate(55) hue-rotate(46deg);
}
#TFTStageIconDDB4 {
  height: 32px;
  width: 32px;
}


.TFTWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.TFTTopHalfBox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.TFTMatchBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 10px;
  width: 90%;
  margin: 15px auto;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 5);
  border-radius: 0.3em;
  border-width: 1px;
  border-style: double;
  border-color: #a41c49;
  background: #181A1B;
}
.TFTMatches {
  justify-content: space-around;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1px;
  align-items: center;
  color:rgba(255, 255, 255, 0.861);
  font-family: 'Koulen', cursive;
  border: 1px solid rgba(255, 255, 255, 0.80);
}

.TFTMatchGroup1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.TFTMatchGroup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#LittleLegendIcon {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 2em;
  border: 2px solid rgba(133, 133, 133, 0.403);
}
.TFTMatchGroup3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.TFTAugGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}
.TFTTraitGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.TFTTraitGroup1 {
  display: flex;
  gap: 5px;
}
.TFTTraitGroup2 {
  display: flex;
  gap: 5px;
}
#TFTAug1, #TFTAug2, #TFTAug3 {
  width: 32px;
  height: 32px;
  border-radius: 0.5px;
  border: 0.5px solid rgba(255, 255, 255, 0.403);
}
.TFTMatchGroup4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.TFTUnitGroup1 {
  display: flex;
  gap: 5px;
}
.TFTUnitGroup2 {
  display: flex;
  gap: 5px;
}

.TFTtrait {
  width: 32px;
  height: 32px;
  padding: 1px;

}
/* #Trait-0 {
  background-image: url('https://raw.communitydragon.org/pbe/game/assets/ux/tft/tft_traits_texture_atlas.png');
  background-position: 33% 6%;
  border-radius: 1em;
  border: 1px solid #000;
  object-fit: cover;
}
#Trait-1 {
  background-image: url('https://raw.communitydragon.org/pbe/game/assets/ux/tft/tft_traits_texture_atlas.png');
  background-position: 43% 6%;
  border-radius: 1em;
  border: 1px solid #000;
  object-fit: cover;
}
#Trait-2 {
  background-image: url('https://raw.communitydragon.org/pbe/game/assets/ux/tft/tft_traits_texture_atlas.png');
  background-position: 73.8% 6%;
  border-radius: 1em;
  border: 1px solid #000;
  object-fit: cover;
}
#Trait-3 {
  background-image: url('https://raw.communitydragon.org/pbe/game/assets/ux/tft/tft_traits_texture_atlas.png');
  background-position: 64% 31.5%;
  border-radius: 1em;
  border: 1px solid #000;
  object-fit: cover;
}
#Trait-4 {

} */

.TFTunit {
  height: 64px;
  width: 64px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.403);
}
#Unit-0 {
  border-color:rgb(111, 110, 110);
}
#Unit-1 {
  border-color: rgb(39, 125, 39);
}
#Unit-2 {
  border-color:rgb(68, 92, 198);
}
#Unit-3 {
  border-color: purple;
}
#Unit-4 {
  border-color: orangered;
}
#Unit-5 {
  border-color: gold;
}
#Unit-6 {
  border-color: red;
}
#Unit-8 {
  border-color: rgb(8, 213, 145);
}

#tftplacement-1 {
  border-color: rgb(247, 229, 125);
}

#tftplacement-2, #tftplacement-3, #tftplacement-4 {
  border-color: #1C6EA4;
} 

#tftplacement-5, #tftplacement-6, #tftplacement-7 {
  border-color: #c8114e;

}

#tftplacement-8 {
  border-color: #564e50;
}

#placementnumber-1 {
  color: rgb(247, 229, 125);
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-2, #placementnumber-3, #placementnumber-4 {
  color: #1C6EA4;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-5, #placementnumber-6, #placementnumber-7 {
  color: #c8114e;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-8 {
  color:rgb(111, 110, 110);
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

