a {
  text-decoration: none;
}

#NavbarBox {
  position: fixed;
  display: flex;
  width: 99.8%;
  justify-content: space-between;
  align-items: center;
  transition: 1s !important;
  z-index: 999;
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#NavbarHeader {
  opacity: 0;
  transition: 0.6s;
  font-size: 2em;
}

#ul1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#ul1 li {
  position: relative;
  list-style: none;
  transition: 0.6s;
  margin: 0 15px;
}
#ul1 li a {
  position: relative;
  text-decoration: none;
}

#ul2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}
#ul2 li {
  position: relative;
  list-style: none;
  transition: 0.6s;
  margin: 0 10px;
}
#ul2 li a {
  position: relative;
  text-decoration: none;
}

.sticky {
  background: #171A21;
  transition: 1s !important;
  border-bottom: 1px solid rgba(185, 185, 185, 0.614);
}
.stickyHeader {
  opacity: 1 !important;
}

#HomeLogo {
  height: 40px;
  width: 40px;
}

.LogoLinks {
  transition: 0.4s;
}
.LogoLinks:hover {
  transform: translateY(-8px);
  filter: drop-shadow(0 0 0.3rem rgb(11, 10, 11));
}
.LogoLinks:active {
  transform: translateY(-4px);
  filter: drop-shadow(0 0 0.1rem rgb(11, 10, 11));
}
#tftLogo {
  height: 52px;
  width: 82px;
  transition: 0.4s;
}
#valorantLogo {
  width: 72px;
  height: 72px;
}

#LeaderboardLogo {
  height: 40px;
  width: 40px;
}

#RiotLogo {
  height: 40px;
  width: 40px;
}

#valorant:link, #valorant:visited, #champions:link, #champions:visited, #leaderboards:link, #leaderboards:visited, #home:link, #home:visited, #tft:link, #tft:visited {
  display: flex;
  color: white;
}

#githubLogo {
  height: 40px;
  width: 40px;
}
#GithubLogoLink {
  display: inline-block;
}

#discordLogo {
  height: 48px;
  width: 48px;
}
#DiscordLogoLink {
  display: inline-block;
}

#youtubeLogo {
  height: 40px;
  width: 40px;
}
#YoutubeLogoLink {
  display: inline-block;
}

#twitterLogo {
  height: 40px;
  width: 40px;
}
#TwitterLogoLink { 
  display: inline-block;
}

#LinkedInLogo {
  height: 40px;
  width: 40px;
}
#LinkedInLogoLink {
  display: inline-block;
}

@media only screen and (max-width: 1100px) {
  #LinkedInLogo, #discordLogo, #youtubeLogo, #twitterLogo, #githubLogo, #HomeLogo, #LeaderboardLogo, #RiotLogo {
    width: 32px;
    height: 32px;
  }
  #valorantLogo {
    width: 64px;
    height: 64px;
  }
  #tftLogo {
    height: 46px;
    width: 76px;
  }
}
@media only screen and (max-width: 900px) {
  #NavbarHeader {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 768px) {
  #NavbarHeader {
    font-size: 1.5em;
  }
  #LinkedInLogo, #discordLogo, #youtubeLogo, #twitterLogo, #githubLogo, #HomeLogo, #LeaderboardLogo, #RiotLogo {
    width: 26px;
    height: 26px;
  }
  #valorantLogo {
    width: 48px;
    height: 48px;
  }
  #tftLogo {
    height: 32px;
    width: 56px;
  }
}
@media only screen and (max-width: 420px) {
  #NavbarHeader {
    font-size: 0.8em;
  }
  #LinkedInLogo, #discordLogo, #youtubeLogo, #twitterLogo, #githubLogo, #HomeLogo, #LeaderboardLogo, #RiotLogo {
    width: 16px;
    height: 16px;
  }
  #valorantLogo {
    width: 28px;
    height: 28px;
  }
  #tftLogo {
    height: 20px;
    width: 32px;
  }
  #ul1 {
    height: 32px;
    margin-left: 10px;
    align-items: center;
  }
  #ul2 {
    margin-right: 10px;
  }
  #ul1 li {
    margin: 0 7px;
    padding-top: 4px;
  }
  #ul2 li {
    margin: 0 4px;
  }

}