@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#SearchBoxInputTFT {
  text-align: center;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #C9F0FF;
  background-color: #15161a;
  color:rgba(255, 255, 255, 0.861);
  /* box-shadow: 2px 2px 15px rgb(0, 0, 0, 5); */
}
#SearchBoxInputTFT:focus {
  outline: 0;
}
#SearchBoxInputTFT:hover {
  background-color: #22212174;
}

#TFTSummonerInfoBox {
  gap: 2em;
}
.TFTRankedSolo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TFTDataBoxButton {  
  display: flex;
  align-self: flex-end;
  border: none;
  background: none;
  color:rgba(255, 255, 255, 0.80);
}
.TFTMatchGroupButton {
  display: flex;
  align-self: flex-end;
}
.TFTDataBoxButton:hover {
  cursor: pointer;
  filter: invert(20%);
}
.TFTDoubleUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TFTDropDownBoxes {
  transition: 1s;
  width: 100%;
}
.TFTDDBoxWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  background:rgba(36, 33, 33, 0.3);
  border: 1px solid #6c6e73;
  border-top: none;
}
.TFTDDPlayerBox {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #6c6e73;
}
.TFTDDB1 {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  width: 12%;
  justify-content: center;
}
.TFTDDB1 p {
  margin: 0;

}
.TFTDDB2 {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 23em;
  justify-content: flex-start;
}
.AugListB2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}
.TraitListB2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.TraitsList1 {
  display: flex;
  gap: 3px;

}
.TraitsList2 {
  display: flex;
  gap: 3px;
}
#DDAug1, #DDAug2, #DDAug3 {
  height: 32px;
  width: 32px;
  border: 0.5px solid rgba(255, 255, 255, 0.403);
}
.LLIconDD {
  color: rgba(255, 255, 255, 0.80);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 6em;
}
.LLIconDD p {
  font-size: 0.8em;
  margin: 0;
}
#LittleLegendIconDD {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 2em;
  border: 2px solid rgba(133, 133, 133, 0.403);
}
#DDTrait-1 {
  height: 24px;
  width: 24px;
  background: rgb(128, 78, 25);
  border: 1px solid white;
}
#DDTrait-2 {
  height: 24px;
  width: 24px;
  background: rgb(83, 83, 83);
  border: 1px solid white;
}
#DDTrait-3 {
  height: 24px;
  width: 24px;
  background: rgb(163, 155, 38);
  border: 1px solid white;
}
#DDTrait-4 {
  height: 24px;
  width: 24px;
  background: linear-gradient(315deg, rgba(244, 133, 198, 0.7) 0%, rgba(127, 236, 255, 0.7) 74%);
  border: 1px solid white;
}
.TFTUnitBox {
  position: relative;
}
.TFTItemsDiv {
  display: flex;
  justify-content: center;
}
#item-img {
  margin: 1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 20px;
  width: 20px;
}
.TFTDDB3 {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UnitListB3 {
  display: flex;
  width: 100%;
  gap: 0.5em;

}
.DDTFTunit {
  height: 58px;
  width: 58px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.403);
}
.DDR10TFTunit {
  height: 32px;
  width: 32px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 1px solid rgba(255, 255, 255, 0.403); 
}
.TFTDDB4 {
  width: 6.5em;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  justify-content: center;
  align-items: center;
}
.TFTGoldIconDiv {
  display: flex;
  align-items: center;
}
.TFTStageIconDiv {
  display: flex;
  align-items: center;
}
#TFTGoldIconDDB4 {
  height: 32px;
  width: 32px;
  filter: brightness(55%) sepia(100) saturate(55) hue-rotate(46deg);
}
#TFTStageIconDDB4 {
  height: 32px;
  width: 32px;
}


.TFTWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.TFTTopHalfBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.TFTMatchBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  padding: 10px;
  width: 98%;
  margin: 15px auto;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 5);
  border: 2px solid #303b51;
  border-radius: 0.2em;
  background: #171A21;
}
.TFTMatches {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
  align-items: center;
  color:rgba(255, 255, 255, 0.861);
  border-radius: 0.2em;
  border: 2px solid #6c6e73;
}

.TFTMatchGroup1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 7em;
}
.TFTMatchGroup1 p {
  width: 100%;
  margin: 2px;
  text-align: center;
}
#tft-mg1-p2, #tft-mg1-p3, #tft-mg1-p4 {
  font-size: 0.9em;
}
.TFTMatchGroup2 {
  display: flex;
  align-items: center;
  width: 15em;
}
.TFTMatchGroup2Div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TFTMatchGroup2Div2 p {
  margin: 0;
  width: 10em;
}
#LittleLegendIcon {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 2em;
  border: 2px solid rgba(133, 133, 133, 0.403);
}
.TFTMatchGroup3 {
  width: 25em;
  display: flex;
  align-items: center;
  gap: 10px;
}
.TFTAugGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.TFTTraitGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.TFTTraitGroup1 {
  display: flex;
  gap: 5px;
}
.TFTTraitGroup2 {
  display: flex;
  gap: 5px;
}
#TFTAug1, #TFTAug2, #TFTAug3 {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.403);
}
.TFTMatchGroup4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  width: 50em;
}
.TFTUnitGroup1 {
  display: flex;
  gap: 5px;
}
.TFTUnitGroup2 {
  display: flex;
  gap: 5px;
}
.TFTtrait {
  width: 32px;
  height: 32px;
  padding: 1px;
}

.TFTunit {
  height: 54px;
  width: 54px;
  object-fit: cover;
  object-position: 85%;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.403);
}
#Unit-0 {
  border-color:rgb(111, 110, 110);
}
#star-Unit-0 {
  color:rgb(111, 110, 110);
}
#Unit-1 {
  border-color: rgb(39, 125, 39);
}
#star-Unit-1 {
  color: rgb(39, 125, 39);
}
#Unit-2 {
  border-color:rgb(68, 92, 198);
}
#star-Unit-2 {
  color:rgb(68, 92, 198);
}
#Unit-3 {
  border-color: purple;
}
#star-Unit-3 {
  color: purple;
}
#Unit-4 {
  border-color: orangered;
}
#star-Unit-4 {
  color: orangered;
}
#Unit-5 {
  border-color: gold;
}
#star-Unit-5 {
  color: gold;
}
#Unit-6 {
  border-color: red;
}
#star-Unit-6 {
  color: red;
}
#Unit-8 {
  border-color: rgb(8, 213, 145);
}
#star-Unit-8 {
  color: rgb(8, 213, 145);
}
.TFTRecentMatchesContainer {
  display: flex;
  border: 3px solid #272d3a;
  width: 99%;
  height: 15em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 5);
  border-radius: 0.2em;
  background-color: #171A21;
}
.PlacementsBar {
  display: flex;
  flex-direction: column;
  width: 27%;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  border-right: 3px solid #272d3a;
  padding: 5px;
}
#tftr10header {
  display: flex;
  align-items: center;
  border-left: 2px solid rgba(255, 255, 255, 0.80);
  gap: 6em;
  height: 10%;
}
.RecentTraits {
  display: flex;
  flex-direction: column;
  color:rgba(255, 255, 255, 0.80);
  margin: 0;
  gap: 0.5em;
  padding: 0.5em;
  border-right: 3px solid #272d3a;
}
.RecentTraitsBox1 {
  display: flex;
}
.RecentTraitsBoxes {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.RecentTraitsBox {
  color: rgba(255, 255, 255, 0.80);
}
.RecentTraitsBox p {
  margin: 0;
}
#tftr10traitheader {
  border-left: 2px solid rgba(255, 255, 255, 0.80);
  height: 10%;
  margin-right: 10px;
}
#tftr10traitheader ul li {
  text-decoration: underline;
}
#tftr10traitheader ul p {
  text-decoration: none;
  margin-left: 0.3em;
}
#tftr10header p {
  margin: 0;
  margin-left: 0.5em;
  color: rgba(255, 255, 255, 0.80);
}
#tftr10unitheader {
  border-left: 2px solid rgba(255, 255, 255, 0.80);
  height: 10%;
  margin-right: 10px;
}
#tftr10unitheader ul li {
  text-decoration: underline;
}
#tftr10unitheader ul p {
  text-decoration: none;
  margin-left: 0.3em;
}
.RecentUnits {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.80);
  margin: 0;
  gap: 0.5em;
  padding: 0.5em;
  border-right: 3px solid #272d3a;
}
.RecentUnits ul {
  display: flex;
  gap: 1em;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.RecentTraits ul {
  display: flex;
  gap: 1em;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.RecentUnits ul li {
  display: flex;
  justify-content: center;
  width: 6em;
  margin: 0;
}
.RecentTraits ul li {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 6em;
}
.RecentTraitsBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
}
.RecentUnitsBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
}
.RecentTraits p {
  margin: 0;
}
.RecentUnits p {
  margin: 0;
}
.RecentTraitsBox {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.RecentUnitsBox {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.PlacementInfo {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2em;
  border-left: 2px solid rgba(255, 255, 255, 0.80);
}
.PlacementInfoDiv1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin-left: 0.5em;
}
.PlacementInfoDiv1 p {
  color: rgba(255, 255, 255, 0.80);
}
#tftr10header #avgPlacementTag1 {
  color: rgb(193, 171, 44);
}
#tftr10header #avgPlacementTag2 {
  color: #b4b4b4;
}
#tftr10header #avgPlacementTag3 {
  color: #7B3F00;
}
#tftr10header #avgPlacementTag4 {
  color: #1C6EA4;
}
#tftr10header #avgPlacementTag5 {
  color: rgba(184, 184, 184, 0.8);
}
#avgPlacementTag1, #avgPlacementTag2, #avgPlacementTag3, #avgPlacementTag4, #avgPlacementTag5 {
  font-size: 2em;
}
#avgPlacementTag5 span {
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.80);
}
.PlacementInfoDiv1 p {
  margin: 0;
}

.PlacementInfoDiv2 {
  display: flex;
  width: 10em;
}
.placementArr1 {
  display: flex;
  gap: 1em;
}
.placementArr2 {
  display: flex;
  gap: 1em;
}
.placementBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  border: 2px solid #303b51;
  border-radius: 0.2em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 5);
  background-color: #16181c;
}
.placementBox p {
  font-size: 2em;
  margin: 0;
}
#placement-1 {
  color: rgb(193, 171, 44);
}

#placement-2 {
  color: #b4b4b4;
}
#Trait-1 {
  background: rgb(128, 78, 25);
  border: 1px solid white;
  /* filter: invert(70%) sepia(30%) saturate(2504%) hue-rotate(2deg) brightness(109%) contrast(102%); */
}
#Trait-2 {
  background: rgb(83, 83, 83);
  border: 1px solid white;
  /* filter: invert(30%); */
}
#Trait-3 {
  background: rgb(108, 102, 20);
  border: 1px solid white;
  /* filter: invert(20%) sepia(34%) saturate(2504%) hue-rotate(2deg) brightness(109%) contrast(102%); */
}
#Trait-4 {
  background: linear-gradient(315deg, rgba(244, 133, 198, 0.7) 0%, rgba(127, 236, 255, 0.7) 74%);
  border: 1px solid white;
}
#placement-3 {
  color: #7B3F00;
}

#placement-4 {
  color: #1C6EA4;
}

#placement-5, #placement-6, #placement-7, #placement-8 {
  color: #525252;
}

/* #tftplacement-1 {
  border-color: rgb(247, 229, 125);
}

#tftplacement-2, #tftplacement-3, #tftplacement-4 {
  border-color: #1C6EA4;
} 

#tftplacement-5, #tftplacement-6, #tftplacement-7 {
  border-color: #c8114e;

}

#tftplacement-8 {
  border-color: #564e50;
} */

#placementnumber-1 {
  color: rgb(247, 229, 125);
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-2, #placementnumber-3, #placementnumber-4 {
  color: #1C6EA4;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-5, #placementnumber-6, #placementnumber-7 {
  color: #c81111;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#placementnumber-8 {
  color:rgb(111, 110, 110);
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.hidden-true {
  display: none;
  transition: 1s;
}