#ValorantBoxButton {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.861);
}
#ValorantBoxButton:hover {
  filter: invert(20%);
  cursor: pointer;
}
#ValorantBoxButton:active {
  position:relative;
  top:1px;
}
#welcomeValorant {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
#welcome-valorant {
  position: fixed;
  width: 100%;
  top: 0;
  height: 105px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0;
  color:rgba(255, 255, 255, 0.861);
  background-color: #171A21;
}
#welcome-valorant h3 {
  width: 100%;
  font-size: 2.5em;
}
#cypher {
  width: 200px;
  height: 350px;
}
#jett {
  width: 200px;
  height: 350px;
}
.ValBoxInput {
  text-align: center;
  font-size: 0.5em;
  border: none;
  height: 36px;
  width: 100%;
  border-bottom: 2px solid rgba(213, 55, 65, 0.6);
  border-left: 2px solid #171A21;
  border-top: 2px solid #171A21;
  border-right: 2px solid #171A21;
  background-color: #15161a;
  color: rgba(255, 255, 255, 0.861);
  transition: 0.5s;
}
.ValBoxInput:focus {
  outline: 0;
  border-color: rgba(213, 55, 65, 0.6);
  border-radius: 0.1em;
}
.ValBoxInput:hover {
  background-color: #15161ab7;
}
#hash {
  position: relative;
  margin-left: 15%;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.ValorantSearchBox {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 50% 15%;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  
}
.ValorantSearchBox p {
  color: rgba(255, 255, 255, 0.861);
  font-size: 0.8em;
}
.val-searchbox-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.val-searchbox-div2 {
  display: grid;
  grid-template-columns: 40% 10% 40% 5%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ValorantPageBox {
  position: relative;
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}
#RSO-warning {
  font-size: 0.25em;
  width: 75%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
#Riot-Sign-On {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
  gap: 10px;
  width: 125px;
  height: 50px;
  font-size: 0.5em;
  background-color: rgb(209, 61, 76);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2em;
  font-family: Kanit;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
#Riot-Sign-On:hover {
  transform: translateY(-2px);
  cursor: pointer;
}