#ValorantBoxButton {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.861);
}
#ValorantBoxButton:hover {
  filter: invert(20%);
  cursor: pointer;
}
#ValorantBoxButton:active {
  position:relative;
  top:1px;
}
#welcomeValorant {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
#welcome-valorant {
  position: fixed;
  top: 0;
  width: 100%;
  height: 105px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0;
  color:rgba(255, 255, 255, 0.861);
  background-color: #171A21;
}
#welcome-valorant h3 {
  width: 100%;
  font-size: 2.5em;
}
#welcome-valorant h3 span {
  color:rgb(209, 61, 76);
}
#cypher, #jett {
  width: 200px;
  height: 350px;
  z-index: 500;
}
#cypher-spray {
  width: 128px;
  height: 128px;
}
.ValBoxInput {
  text-align: center;
  border: none;
  height: 36px;
  width: 95%;
  border: 2px solid #171A21;
  border-bottom: 2px solid rgba(213, 55, 65, 0.6);
  background-color: #15161a;
  color: rgba(255, 255, 255, 0.861);
  transition: 0.5s;
}
.ValBoxInput:focus {
  outline: 0;
  border-color: rgba(213, 55, 65, 0.6);
  border-radius: 0.1em;
}
.ValBoxInput:hover {
  background-color: #15161ab7;
}
#hash {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.ValorantSearchBox {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 50% 15%;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  
}
.ValorantSearchBox p {
  color: rgba(255, 255, 255, 0.861);
  font-size: 0.8em;
}
.val-searchbox-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35%;
  gap: 5px;
}
.val-searchbox-div2 {
  display: grid;
  grid-template-columns: 42% 8% 42% 7%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ValorantPageBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #16161b;
}
#RSO-warning {
  font-size: 0.25em;
  width: 75%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
#Riot-Sign-On {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
  gap: 10px;
  width: 125px;
  height: 50px;
  font-size: 0.5em;
  background-color: rgb(209, 61, 76);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2em;
  font-family: Kanit;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
#Riot-Sign-On:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
#Riot-Sign-Out {
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6%;
  gap: 10px;
  height: 35px;
  width: 80px;
  background-color: rgb(24, 21, 21);
  font-family: Kanit;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
#Riot-Sign-Out:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
#in-dev {
  margin: 0;
  font-size: 24px;
  font-style: italic;
}
.MatchInfo p {
  margin: 0;
}
.MatchInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.PlayerStatsContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 90%;
  gap: 2%;
}
.PlayerMatchHistory {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.PlayerAccountInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222429a4;
  height: fit-content;
  border-radius: 4px;
  padding: 8px;
  gap: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 5);
}
.PlayerMatchInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
.PlayerWeaponInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #222429a4;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 5);
  padding: 8px;
}
.PlayerAccuracyInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #222429a4;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 5);
  padding: 8px;
}
.PlayerStatsColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.weapons-header, .accuracy-header {
  display: flex;
  width: 90%;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #d53741a0;
}
.weapons-header h3, .accuracy-header h3 {
  margin: 0;
}
.WeaponsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.WeaponsList .WeaponBox:nth-child(odd) {
  background-color: #2f313775;
}
.WeaponBox {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  align-items: center;
  border-radius: 4px;
}
.WeaponBox p {
  text-align: center;
}
.weapon-icon {
  width: 100%;
  object-fit: contain;
}
.accuracy-info {
  display: grid;
  width: 95%;
  grid-template-columns: 20% 80%;
}
.PlayerAccBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.PlayerAccBox p {
  margin: 0;
}
.acc-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.acc-info-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(213, 55, 65, 0.6);
  border-top: 1px solid rgba(213, 55, 65, 0.6);
  width: 95%;
}
.acc-info-div2 h3 {
  margin: 0;
  text-align: left;
  font-size: 22px;
}
.acc-info-div2 p {
  color: rgba(255, 255, 255, 0.6);
}
.acc-info-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.UserPlayercard {
  width: 96px;
  height: 96px;
  border-radius: 4px;
}
.RecentMatchesBox {
  display: flex;
  border: 1px solid #d5374123;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 5);
  padding: 8px;
  border-radius: 4px;
  gap: 20px;
}
.overview-div {
  height: 90%;
  width: 20%;
  border-right: 1px solid #d53741a0;
}
.RecentMatchesBox h3 {
  font-size: 24px;
}
.RecentMatchesDivs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  width: 100%;
}
.val-recent-matches-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  background-color: #222429b3;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 5px rgb(0 0 0);
  transition: 0.5s;
}
.val-recent-matches-div:hover {
  transform: translateY(-1px);
  cursor: default;
}
.val-recent-matches-div p {
  margin: 0;
}
.val-recent-div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.OuterMatchBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.MatchBox {
  display: grid;
  grid-template-columns: 8% 12% 20% 15% 10% 10% 10% 10% 5%;
  border: 1px solid rgba(39, 45, 58, 0.5);
  padding: 5px;
  align-items: center;
}
.MatchBox p {
  margin: 0;
}
.userAgent {
  width: 64px;
  height: 64px;
}
.userRank {
  width: 48px;
  height: 48px;
}
.AgentInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.AgentInfo p, .RankInfo p {
  margin: 0;
  font-size: 14px;
}
.RankInfo {
  display: flex;
  width: 100%;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.RankInfo-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.RankInfo-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.rankinfo-2-1 {
  display: flex;
  gap: 5px;
}
.rankinfo-2-1 p {
  margin: 0;
  font-size: 24px;
}
.statdiv-matchbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 22px;
}
.statdiv-matchbox p {
  margin: 0;
}
.MatchInfo p {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}
.MatchInfo-1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 5px;
}
.MatchInfo-p-1 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.gamemode-icon {
  width: 20px;
  height: 20px;
  filter: invert(30%);
}
.TeamDD {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}
#Team1DD {
  border-bottom: 1px solid rgba(39, 45, 58, 0.5);
}
#Team2DD {
  border-top: 1px solid rgba(39, 45, 58, 0.5);
}
.PlayerBox {
  display: grid;
  grid-template-columns: 7% 20% 15% 15% repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 5px;
  width: 99%;
  border-radius: 2px;
}
.team-header-dd {
  display: grid;
  padding: 5px;
  grid-template-columns: 7% 20% 15% 15% repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #222429;
  border-radius: 2px;
  width: 99%;
}
.team-header-dd p {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: default;
}
.team-header-dd h3 {
  margin: 0;
  font-size: 16px;
}
.avg-stats-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avg-stats-div p {
  margin: 0;
}
#DD-PlayerBox-Blue:nth-child(odd) {
  background-color: rgba(47, 69, 81, 0.593);
}
#DD-PlayerBox-Blue:nth-child(even) {
  background-color: rgba(38, 55, 63, 0.593);
}
#DD-PlayerBox-Red:nth-child(odd) {
  background-color: rgba(84, 48, 48, 0.593);
}
#DD-PlayerBox-Red:nth-child(even) {
  background-color: rgba(88, 59, 59, 0.593);
}
.dd-agent-icon {
  width: 48px;
  height: 48px;
}
.dd-player-rank-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dd-kda-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dd-kda-div p {
  margin: 0;
}
.dd-button-div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
#weapon-down-btn, #weapon-up-btn {
  width: 95%;
  padding-top: 5px;
}
.dd-player-rank-icon {
  width: 48px;
  height: 48px;
}
.val-dd-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
}
.val-dd-button:hover {
  cursor: pointer;
  filter: invert(20%);
}
.MatchBoxDD {
  border: 1px solid rgba(39, 45, 58, 0.5);
  padding: 5px;
}
.recent-top-ptag {
  color: #ffffff99;
  font-size: 16px;
}
.recent-bottom-ptag {
  font-size: 24px;
}
.playerbox-top-ptag {
  color: #ffffff99;
  font-size: 14px;
}
.playerbox-bottom-ptag {
  font-size: 18px;
}
.playerbox-p-name {
  font-size: 14px;
}
.kda-high {
  color: #5ee790;
}
.kda-low {
  color: #e83f3fc4;
}
.kda-normal {
  color:rgba(255, 255, 255, 0.861);
}
#win-true {
  border-left: 5px solid rgb(34, 62, 111);
  background-color: rgba(30, 38, 50, 0.534);;
  /* background-color: rgba(43, 26, 28, 0.534); */
}
#win-false {
  border-left: 5px solid rgb(116, 33, 41);
  background-color: rgba(41, 32, 33, 0.874);
}
@media only screen and (max-width: 420px) {
  #welcome-valorant {
    font-size: 12px;
  }
  #welcome-valorant h3 {
    margin: 0;
  }
  #in-dev {
    font-size: 12px;
  }
  .val-searchbox-div2 {
    font-size: 15px;
  }
  #val-input-1, #val-input-2 {
    border-width: 1px;
    height: 20px;
  }
  #cypher {
    width: 75px;
    height: 125px;
  }
  #jett {
    width: 75px;
    height: 125px;
  }
  #Riot-Sign-On {
    height: 25px;
    width: 70px;
    font-size: 12px;
  }
  #RSO-warning {
    font-size: 9px;
    width: 100%;
  }
}