#ValorantBoxButton {
  background-color:#292828;
  border:0.10em double #1C6EA4;
  border-radius: 0.5em;
  cursor:pointer;
  color:#ffffff;
  letter-spacing: 0.05em;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  width: 6em;
}
#ValorantBoxButton:hover {
  background-color:#222020;
  border: 0.10em double #a41c49;
}
#ValorantBoxButton:active {
  position:relative;
  top:1px;
}

#ValBoxInput {
  width: 7em;
  text-align: center;
  font-size: 0.7em;
  border: none;
  border-bottom: 1px solid #484848;
  background-color: #15161a;
  color: rgba(255, 255, 255, 0.861);
  transition: 1s;
}
#ValBoxInput:focus {
  outline: 0;
  background-color: #22212174;
  border-bottom: 1px solid rgba(255, 255, 255, 0.861);
}
#ValBoxInput:hover {
  background-color: #22212174;
}

.ValorantSearchBox {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  gap: 0.2em;
  height: 100px;
}
.ValorantSearchBox p {
  color: rgba(255, 255, 255, 0.861);
  font-size: 0.8em;
}
.ValorantPageBox {
  display: flex;
  width: 100%;
  justify-content: center;
}
.ValorantPageBox h3 {
  margin: 10px;
  font-size: 3em;
}
#Riot-Sign-On {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 125px;
  height: 50px;
  font-size: 1.5em;
  background-color: #ed4253c6;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
#Riot-Sign-On:hover {
  cursor: pointer;
  filter: invert(5%);
}